@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

h3 {
  color: white;
  margin-bottom: 0.5rem;
  position: relative;
}

.swiper {
  height: 300px;

  .swiper-wrapper {
    display: flex;

    .swiper-slide {
      text-align: center;
      cursor: pointer;

      &:hover {
        transform: scale(1.02);
      }

      img {
        width: 200px;
        //height: 300px;
        border-radius: 5px;
      }
    }
  }
}
