<h3>{{ title }}</h3>
<div class="carousel">
    <div class="movie">
        <div class="thumbnail">
            <swiper
                [slidesPerView]="8"
                [spaceBetween]="35"
                [pagination]="{
                    clickable: true
                }"
                class="swiper"
            >
                <ng-template swiperSlide *ngFor="let movie of movies?.results">
                    <img src="https://image.tmdb.org/t/p/w200{{movie?.poster_path}}" alt="{{movie?.title}}">
                </ng-template>
            </swiper>
            <img />
        </div>
    </div>
</div>
